*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/** *,
*::before,
*::after {
  outline: 1px solid red;
} */

fieldset {
  border: none; /* Убираем границу */
}

/* СТИЛИ СКРОЛЛБАРА */
/* Для Firefox */
.content__list {
  scrollbar-width: none; /* Скрывает полосу прокрутки в Firefox */
}

/* Для WebKit-браузеров */
.content__list::-webkit-scrollbar {
  display: none; /* Скрывает полосу прокрутки в WebKit-браузерах */
}

/* Для IE и Edge */
.content__list {
  -ms-overflow-style: none; /* Скрывает полосу прокрутки в IE и Edge */
}

/* СТИЛИ ФОРМ И КНОПОК*/
.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-size: 19px;
  font-weight: 400;
}

.search__form-container {
  width: 225px;
}

.search-form__submit-button {
  align-self: flex-start;
}

/* СТИЛИ КОНТЕНТНЫХ БЛОКОВ */
.content {
  display: flex;
  justify-content: end;
  margin: 0 auto; /* Добавлено для центрирования */
  gap: 32px;
  box-sizing: border-box;
}

.content__list {
  display: flex;
  height: 298px; /* Устанавливаем высоту блока */
  position: relative;
  flex-direction: column; /* Устанавливаем направление содержимого в колонку */
  overflow-y: scroll; /* Включаем вертикальную прокрутку по необходимости */
}

.content__list-item:not(:last-child) {
  margin-bottom: 29px;
}

.title {
  font-family: "Oswald", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

/* СТИЛИ ВИДЕО КОНТЕЙНЕРОВ И ОПИСАНИЙ */
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card {
  display: flex;
  align-items: start;
  /*justify-content: space-between*/
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}
