*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

.page {
  inline-size: 100%;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* 
* *,
*::before,
*::after {
  outline: 1px solid red;
} *   */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none; /* Убираем границу */
}

/* ================================================================================  УБИРАЕМ СКРОЛЛ 
================================================================================*/
/* Для Firefox */
.content__list {
  scrollbar-width: none; /* Скрывает полосу прокрутки в Firefox */
}

/* Для WebKit-браузеров */
.content__list::-webkit-scrollbar {
  display: none; /* Скрывает полосу прокрутки в WebKit-браузерах */
}

/* Для IE и Edge */
.content__list {
  -ms-overflow-style: none; /* Скрывает полосу прокрутки в IE и Edge */
}

/* 
================================================================================
  СТИЛИ ФОРМ И КНОПОК
================================================================================
*/
.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__checkbox-list {
  display: flex;
  /*box-sizing: border-box;*/
  gap: 15px;
}

.search-form__textfield {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  background-color: transparent;
  inline-size: 225px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-left: none;
  padding: 2px 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
  width: fit-content;
  block-size: fit-content;
}

input:focus-visible {
  outline: none;
}

/* 
=============================================================================
  СТИЛИ ПОЛЕЙ (ЧЕКБОКС)
=============================================================================
*/

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: none;
  inline-size: 100%;
}

.search-form__fieldset:nth-of-type(2) {
  margin-left: 1.8%;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

/* Класс .search-form__pseudo-checkbox предназначен для создания пользовательского визуального представления чекбокса, позволяя стилизовать его в соответствии с общим дизайном формы. Это особенно полезно, когда стандартные чекбоксы не соответствуют дизайну сайта. 
*/
.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

/* Селектор целевого псевдоэлемента ::after используется для отображения галочки или другого индикатора в пользовательском чекбоксе, когда он находится в состоянии "выбрано". Это добавляет четкость и визуальную обратную связь для пользователя, подтверждая выбор. */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:active {
  border: 1px solid #fff;
}

.search-form__label:hover {
  text-decoration: underline 1px #fff;
  text-underline-offset: 5px;
}

.search-form__label:focus {
  outline: 1px solid #fff;
  outline-offset: -3px;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* 
=============================================================================
  СТИЛЬ КНОПКИ "НАЙТИ"
=============================================================================
*/

.button {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  height: 34px;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.button:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 73%;
}

.search-form__submit-button:active {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* ================================================================================
  СТИЛИ КОНТЕНТНЫХ БЛОКОВ 
================================================================================
*/
.content {
  display: flex;
  justify-content: end;
  margin: 0 auto; /* Добавлено для центрирования */
  gap: 32px;
  box-sizing: border-box;
}

.content__list {
  display: flex;
  height: 298px; /* Устанавливаем высоту блока */
  position: relative;
  flex-direction: column;
  overflow-y: scroll; /* Включаем вертикальную прокрутку по необходимости */
}

.content__list-item:not(:last-child) {
  margin-bottom: 29px;
}

.title {
  font-family: "Oswald", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
  color: rgba(255, 255, 255, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}

/* 
=============================================================================
  СТИЛИ ВИДЕО КОНТЕЙНЕРОВ И ОПИСАНИЙ 
=============================================================================
*/
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  gap: 22px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-description:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  align-items: start;
  /*justify-content: space-between*/
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 109px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* 
=============================================================================
  СТИЛЬ КНОПКИ "НАЙТИ ЕЩЕ"
=============================================================================
*/
.more-button {
  width: 100%;
}

.more-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkbox__button-container:hover {
  text-decoration: underline;
  cursor: pointer;
}
